<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<title>TrailFinder | Create Event</title>
</head>
<body>
	<div id="main" class="container">
		<div th:replace = "fragments/headbar :: navbar"></div>
		<div>
		<form action="#" th:action="@{/Event/Create}" method="POST">
		<div class="input-group input-group-sm mb-3">
		<div class="input-group-prepend">
		<span  class="input-group-text" id="inputGroup-sizing-sm">Distance: </span>
		</div>
		<input type="text" name="distance" placeholder="Distance" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"/><br />
		</div>
		<div class="input-group input-group-sm mb-3">
		<div class="input-group-prepend">
		<span  class="input-group-text" id="inputGroup-sizing-sm">Start Time: </span>
		</div>
		<input type="datetime-local" name="eventStart" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" /><br />
		</div>
		<div class="input-group input-group-sm mb-3">
		<div class="input-group-prepend">
		<span  class="input-group-text" id="inputGroup-sizing-sm">End Time: </span>
		</div>
		<input type="datetime-local" name="eventEnd"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"/><br />
		</div>
		<div class="input-group input-group-sm mb-3">
		<div class="input-group-prepend">
		<span  class="input-group-text" id="inputGroup-sizing-sm">Latitude: </span>
		</div>
		<input type="text" th:value="${Latitude}" name="Latitude" placeholder="Latitude" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"/><br />
		</div>
		<div class="input-group input-group-sm mb-3">
		<div class="input-group-prepend">
		<span  class="input-group-text" id="inputGroup-sizing-sm">Longitude: </span>
		</div>
		<input type="text" th:value="${Longitude}" name="Longitude" placeholder="Longitude" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"/><br />
		</div>
		<div class="input-group input-group-sm mb-3">
		<div class="input-group-prepend">
		<span  class="input-group-text" id="inputGroup-sizing-sm">First Name: </span>
		</div>
		<input type="text" name="creatorFirstName" placeholder="First Name" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"/><br />
		</div>
		<div class="input-group input-group-sm mb-3">
		<div class="input-group-prepend">
		<span  class="input-group-text" id="inputGroup-sizing-sm">Last Name: </span>
		</div>
		<input type="text" name="creatorLastName" placeholder="Last Name" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"/><br />
		</div>
		<div class="input-group input-group-sm mb-3">
		<div class="input-group-prepend">
		<span  class="input-group-text" id="inputGroup-sizing-sm">Email: </span>
		</div>
		<input type="text" name="creatorEmail" placeholder="Email" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"/><br />
		</div>
		<div class="input-group input-group-sm mb-3">
		<div class="input-group-prepend">
		<span  class="input-group-text" id="inputGroup-sizing-sm">Phone Number: </span>
		</div>
		<input type="text" name="phoneNumber" placeholder="Phone Number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"/><br />
		</div>
		<button type="submit" name="submit" value="0" class="btn btn-outline-secondary">Create</button>
		</form>
		</div>
	</div>
</body>
</html>