<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<title>TrailFinder | Create Event</title>
</head>
<body>
	<div id="main" class="container">
		<div th:replace = "fragments/headbar :: navbar"></div>
		<div>
		<form action="#" th:action="@{/eventcreation}" th:object="${EventCreatorDTO}" method="GET">
		<input type="text" th:name="creatorFname"  placeholder="First Name"/><br />
		<input type="text" th:name="creatorLname"  placeholder="Last Name"/><br />
		<input type="text" th:name="creatorEmail"  placeholder="Email"/><br />
		<input type="text" th:name="creatorPhone"  placeholder="Phone"/><br />
		<input type="text" th:name="eventLat" /><br />
		<input type="text" th:name="eventLong" /><br />
		<button type="submit" th:name="action" th:value="in">create</button>
		</form>
		</div>
	</div>>