<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<title>TrailFinder | Event Details</title>

</head>
<body>
	<div id="main" class="container">
		<div th:replace = "fragments/headbar :: navbar"></div>
		<!--list event attributes here -->
					<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-sm">Event Creator:</span>
					</div>
					<p th:text="${event.eventCreator}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">(creator)</p>
					</div>
					<!-- trail name here? -->
					<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
					<span  class="input-group-text" id="inputGroup-sizing-sm">Event Latitude and Longitude:</span>
					</div>
					<p class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">Lat:</p>
					 <p th:text="${event.Latitude}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">(latitude)</p>
					<p class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">Long:</p>
					 <p th:text="${event.Longitude}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">(longitude)</p>

					</div>
					<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-sm">Distance (km):</span>
					</div>
					 <p th:text="${event.distance}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">(distance)</p>
					</div>
					<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
					<span  class="input-group-text" id="inputGroup-sizing-sm">Event Start and End:</span>
					</div>
					<p th:text="${event.eventStart}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">(start)</p>
					<p th:text="${event.eventEnd}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">(end)</p>
					</div>
					<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
					<span  class="input-group-text" id="inputGroup-sizing-sm">Attending:</span>
					</div>
					<div class="list-group list-group-action" th:each="attending : ${attendees}">
					<p th:text="${attending}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">(attendee)</p>
					</div>
					</div>
					
					
					<h5>Want to attend this event?</h5>
					<form action="#" th:action="@{/Event/Attend(eventId=${event.eventId})}" th:object="${EventAttendeeDTO}" method="POST">
					<div class="input-group input-group-sm mb-3">
					 <div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-sm">Enter First Name: </span>
					</div>
					<input type="text" name="attendeeFirstName" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"/>
					</div>
					<div class="input-group input-group-sm mb-3">
					 <div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-sm">Enter Last Name: </span>
					</div>
					<input type="text" name="attendeeLastname" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"/>
					</div>
					<div class="input-group input-group-sm mb-3">
					 <div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-sm">Enter Email: </span>
					</div>
					<input type="text" name="attendeeEmail" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"/>
					</div>
					<div class="input-group input-group-sm mb-3">
					 <div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-sm">Enter Phone Number: </span>
					</div>
					<input type="text" name="phoneNumber" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"/>
					</div>
					<button name="submit"value="in" class="btn btn-outline-secondary" type="submit">Attend</button>
					</form>
		</div>
</body>
</html>