<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>

<title>TrailFinder | Home</title>
</head>
<body>
	<div id="main" class="container">
		<h2>Welcome to TrailFinder</h2>
		<br>
		Find a trail near you:
		<form action='#' th:action="@{/searchResults}" method="GET">
		<input type="text" name="searchTerm" placeholder="Search Location">
		<button name="submit" type="submit" value="0">Submit</button>
		</form>
		<br/>
		<div id="content">
			<div class="row">
				<div class="col-lg-8">
					<div id="map" class="container container-fluid">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	 function initMap() {
		  // Map options
		  var options = {
				  zoom:12,
				  center:{lat:39.10713, lng:-84.50413}
		  }
		  // The map, centered at Uluru
		  var map = new google.maps.Map(
		      document.getElementById('map'), options);
		  // The marker, positioned at Uluru
		  var marker = new google.maps.Marker({position: {lat:39.11589,lng:-84.52465}, map: map});
	} 
	</script> 
	<script async="true" defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmC6Uco6nl8sRYwKBa8Xnjll3olfbYGKM&callback=initMap">
    </script>
</body>
</html>